<p id="notice"><%= notice %></p>

<div class="container">
<h1>TDY Requests</h1>

<p class="only_my_requests">Only my requests</p>
<label class="switch only_my_requests">
	<input  id="own_requests_only" class="switch-input" type="checkbox" />
	<span class="switch-label" data-on="On" data-off="Off"></span> 
	<span class="switch-handle"></span> 
</label>
<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>User</th>
      <th>Purpose</th>
      <th>Departure</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody id="tdys">
      <%=  render partial: 'users_table' %>
  </tbody>    
</table>

<br>

<%= link_to 'New Request?', new_tdy_request_path,  class: "btn btn-lg btn-primary" %>
</div>
<script>
$(document).ready(function() {
  $("#own_requests_only").change(function(e) {
      e.preventDefault();
      console.log("here we go!");
      console.log(this.id);
      console.log(this.checked)
      $.ajax({
          type: "GET",
          url: "/fetch_requests",
          data: { 
              own_requests_only: this.checked
          },
          success: function(result) {
          },
          error: function(result) {
              alert('error');
          }
      });
  });
});
</script>