@import "font-awesome-sprockets";
@import "font-awesome";
// import bootstrap-sprockets before bootstrap if using bootstrap >= 3.2
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
//@import jquery.ui.all;
@import "jquery-ui/core";
@import "jquery-ui/base";
@import "jquery-ui/menu";
@import "jquery-ui/tabs";
@import "jquery-ui/autocomplete";
@import "jquery-ui/theme";
.form-panel {
    border: 2px solid #a1a1a1;
    border-radius: 7px;
}
.undecorated_list {
    list-style: none;  
    padding-left: 0px;
} 
#pomv-details {
    visibility: hidden;
}
// .faces {
//     position: relative;
// }
// .indent_0 {
//     position: absolute;
// }
// .indent_1 {
//     position: absolute;
//     left: 40px;
//  }
// .indent_2 {
//     position: absolute;
//     left: 80px;
// }
// .indent_3 {
//     position: absolute;
//     left: 120px;
// }
// td {
//     height: 80px;
// }